---
layout: base
title: "Home"
permalink: /
group: home
---

<section class="hero is-fullheight q-front-page">
  <div class="hero-head">{% include navigation.html %}</div>

  <div class="hero-body">
    <div class="container">
      <div class="q-front-sticker">
        <img
          src="/media/image/front-sticker.png"
          alt="Niini, a short, thin, white person wearing a cat kigurumi and sleeping near a giant bear plushie while holding a cat plushie named Maru."
        />
      </div>

      <div class="q-front-description">
        <p>
          Night, night! I'm <ruby class="ipa"><rb>Niini</rb><rt>にいに</rt></ruby>,
          a dream-eating witch making<br>
          sad story-driven games, cute queer art, and <br>
          safe tools for creative computing.
        </p>
      </div>

      <div class="q-sns-bar">
        <a
          href="https://github.com/cute-the-niini"
          title="Niini's Attic - source code on Github"
        >
          <span class="icon is-large">
            <i class="fa-brands fa-2x fa-github"></i>
          </span>
        </a>

        <a
          href="https://cute-the-niini.tumblr.com/"
          title="Niini's Cutie Corner - art and updates on Tumblr"
        >
          <span class="icon is-large">
            <i class="fa-brands fa-2x fa-tumblr"></i>
          </span>
        </a>

        <a
          href="https://youtube.com/@NiinisBlursedHour"
          title="Niini's Blursed Hour - shorter videos on YouTube"
        >
          <span class="icon is-large">
            <i class="fa-brands fa-2x fa-youtube"></i>
          </span>
        </a>

        <a
          href="https://cute-the-niini.itch.io/"
          title="Niini's Blursed Corner - games and dev-tools on Itch.io"
        >
          <span class="icon is-large">
            <i class="fa-brands fa-2x fa-itch-io"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
