---
layout: base
title: "Home"
permalink: /
group: home
---

<section class="hero is-fullheight q-front-page">
  <div class="hero-head">
    {% include navigation.html %}
  </div>  

  <div class="hero-body">
    <div class="container">
      <div class="q-front-sticker"><img src="/media/image/front-sticker.png" alt="FIXME:"></div>

      <div class="q-front-description">
        <p>
          Hello! I'm <ruby class="ipa"><rb>Q.</rb><rt>kjuː</rt></ruby>, a friendly witch from Ewyg.<br>
          I hope to convey my world through visual stories.<br>
          And, of course, a teensy little bit of magic!
        </p>
      </div>

      <div class="q-sns-bar">
        <a href="https://github.com/qteatime" title="@qteatime on Github" aria-label="@qteatime on Github">
          <span class="icon is-large">
            <i class="fab fa-2x fa-github"></i>
          </span>
        </a>

        <a href="https://twitter.com/qteatime" title="@qteatime on Twitter" aria-label="@qteatime on Twitter">
          <span class="icon is-large">
            <i class="fab fa-2x fa-twitter"></i>
          </span>
        </a>

        <a href="https://instagram.com/q.teatime" title="@q.teatime on Instagram" aria-label="@q.teatime on Instagram">
          <span class="icon is-large">
            <i class="fab fa-2x fa-instagram"></i>
          </span>
        </a>

        <a href="https://youtube.com/channel/UCcdtYehXc1MdEKrWNVVHaOQ" title="Q.teatime on YouTube" aria-label="Q.teatime on YouTube">
          <span class="icon is-large">
            <i class="fab fa-2x fa-youtube"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}