<footer class="q-footer">
  <div class="container q-footer-container">
    <div class="q-footer-attribution">
      Made with
      <span class="icon is-medium q-heart"
        ><i class="far fa-heart" title="love" aria-hidden="true"></i>
        <span class="q-sr">love</span>
      </span>
      by Niini
    </div>
    <div class="q-footer-navigation">
      <a href="/">Home</a>
      <a href="/usage-policy">Usage Policy</a>
      <a href="/coc">Code of Conduct</a>
      <a href="/about">About</a>
    </div>
  </div>
</footer>
